*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #23475b;
}

.hero{
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
    padding: 3.2em 1.5em;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 70px 1fr 320px;
    grid-template-areas: "badge title form"  /*names on grid*/
                        ". description form"
                        ". countdown form";
    gap: 2em;
}

/*badge*/
.badge{
    grid-area: badge;
    width: 70px;
    height: 70px;
}

.badge img{
    width: 100%;
}

/*title*/
.title{
    grid-area: title;
    display: flex;
    align-items: center;
    font-size: 3.2rem;
    font-weight: normal;
}

/*form*/
.form{
    grid-area: form;
    padding: 1.5em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.form input{
    width: 100%;
    margin-bottom: 1em;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid #dbdbe2;
    border-radius: 5px;
    outline: none;
}

.form span{
    display: inline-block;
    margin-bottom: .5em;
    font-size: 2rem;
    color: #3a3b3f;
}

.form button{
    display: inline-block;
    padding: .5em 1em;
    font-size: 1.6rem;
    background-color: #98ca3f;
    color: white;
    border-radius: 5px;
    border: none;
    border-bottom: 5px solid #6d932b;
}

/*description*/
.description{
    grid-area: description;
}

.description p{
    font-size: 1.2rem;
    font-weight: 300;
}

/*countdown*/
.countdown{
    grid-area: countdown;
}

.countdown p{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

.countdown time{
    font-size: 3rem;
}

.countdown time:after{
    content: ":";
    margin: 0 .1em;
}

.countdown time:last-child:after{
    display:none;
}

/*media queries*/
@media screen and (max-width: 768px){
    .container{
        grid-template-columns: 70px 1fr;
        grid-template-areas: "badge title"  /*names on grid*/
                        "description description"
                        "form form"
                        "countdown countdown";
    }
}